name: GitLab to GitHub Migration

on:
  workflow_dispatch:
    inputs:
      gitlab_url:
        description: "GitLab repository URL"
        required: true
      target_repo:
        description: "GitHub target repository name"
        required: true

jobs:
  migrate:
    runs-on: [self-hosted, migration]

    steps:
      - name: Install git & GitHub CLI
        run: |
          sudo apt update
          sudo apt install -y git gh
          git --version
          gh --version

      - name: Clean previous workspace
        run: |
          if [ -d "source-repo" ]; then
            rm -rf source-repo
          fi

      - name: Clone from GitLab (mirror)
        run: |
          git clone --mirror ${{ github.event.inputs.gitlab_url }} source-repo

      - name: Create GitHub repo if not exists
        env:
          GH_TOKEN: ${{ secrets.GH_PAT }}
        run: |
          set -e
          if gh repo view StudySolutionNew/${{ github.event.inputs.target_repo }} >/dev/null 2>&1; then
            echo "Repo already exists. Skipping create."
          else
            echo "Repo not found. Creating..."
            gh repo create StudySolutionNew/${{ github.event.inputs.target_repo }} --public --confirm
          fi

      - name: Push to GitHub (mirror)
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
        run: |
          cd source-repo
          git remote remove origin || true
          git remote add origin https://x-access-token:${GH_PAT}@github.com/StudySolutionNew/${{ github.event.inputs.target_repo }}.git
          git push --mirror
