name: Runner Test

on:
  workflow_dispatch:

jobs:
  test-run:
    runs-on: self-hosted
    steps:
      - name: Check runner OS
        run: uname -a

      - name: List home directory
        run: ls -al ~
